apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: db
  name: db
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  selector:
    app.kubernetes.io/name: db

