apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: skyforge-public
spec:
  entryPoints:
    - websecure
  tls:
    secretName: proxy-tls
  routes:
    - match: Path(`/healthz`) || Path(`/health`)
      kind: Rule
      priority: 400
      services:
        - name: skyforge-server
          port: 8085
    - match: PathPrefix(`/netbox/logout`)
      kind: Rule
      priority: 300
      services:
        - name: skyforge-logout
          port: 8080
    - match: PathPrefix(`/nautobot/logout`)
      kind: Rule
      priority: 300
      services:
        - name: skyforge-logout
          port: 8080
    - match: PathPrefix(`/v2/`)
      kind: Rule
      services:
        - name: registry
          namespace: kube-system
          port: 5000
    - match: PathPrefix(`/dex`)
      kind: Rule
      services:
        - name: dex
          port: 5556
    - match: PathPrefix(`/files/`)
      kind: Rule
      services:
        - name: minio
          port: 9000
      middlewares:
        - name: replace-files
    - match: PathPrefix(`/assets/skyforge/`)
      kind: Rule
      priority: 450
      services:
        - name: skyforge-portal
          port: 3000
    - match: PathPrefix(`/assets/`)
      kind: Rule
      priority: 449
      services:
        - name: hoppscotch
          port: 80
    - match: PathPrefix(`/backend`)
      kind: Rule
      priority: 448
      services:
        - name: hoppscotch
          port: 80
    - match: PathPrefix(`/desktop-app-server`)
      kind: Rule
      priority: 447
      services:
        - name: hoppscotch
          port: 80
    - match: PathPrefix(`/hoppscotch`)
      kind: Rule
      services:
        - name: hoppscotch
          port: 80
      middlewares:
        - name: strip-hoppscotch
    - match: PathPrefix(`/data/`)
      kind: Rule
      services:
        - name: skyforge-server
          port: 8085
    - match: PathPrefix(`/api/skyforge/`)
      kind: Rule
      priority: 500
      services:
        - name: skyforge-portal
          port: 3000
    - match: PathPrefix(`/api/`) || PathPrefix(`/api/ws`)
      kind: Rule
      services:
        - name: semaphore
          port: 3000
      middlewares:
        - name: replace-semaphore-api
    - match: PathPrefix(`/skyforge-server/`)
      kind: Rule
      services:
        - name: skyforge-server
          port: 8085
      middlewares:
        - name: replace-skyforge-server
    - match: PathPrefix(`/`)
      kind: Rule
      services:
        - name: skyforge-portal
          port: 3000
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: skyforge-authenticated
spec:
  entryPoints:
    - websecure
  tls:
    secretName: proxy-tls
  routes:
    - match: PathPrefix(`/minio-console`)
      kind: Rule
      services:
        - name: minio
          port: 9001
      middlewares:
        - name: skyforge-auth
    - match: PathPrefix(`/netbox/static/`)
      kind: Rule
      priority: 200
      services:
        - name: netbox
          port: 8080
      middlewares:
        - name: skyforge-auth
        - name: replace-netbox-static
    - match: PathPrefix(`/netbox/media/`)
      kind: Rule
      priority: 200
      services:
        - name: netbox
          port: 8080
      middlewares:
        - name: skyforge-auth
        - name: replace-netbox-media
    - match: PathPrefix(`/netbox`)
      kind: Rule
      priority: 100
      services:
        - name: netbox
          port: 8080
      middlewares:
        - name: skyforge-auth
    - match: PathPrefix(`/nautobot/static/`)
      kind: Rule
      priority: 200
      services:
        - name: nautobot-static
          port: 8080
      middlewares:
        - name: skyforge-auth
    - match: PathPrefix(`/nautobot/media/`)
      kind: Rule
      priority: 200
      services:
        - name: nautobot-static
          port: 8080
      middlewares:
        - name: skyforge-auth
    - match: PathPrefix(`/nautobot`)
      kind: Rule
      priority: 100
      services:
        - name: nautobot
          port: 8080
      middlewares:
        - name: skyforge-auth
        - name: strip-nautobot
    - match: PathPrefix(`/semaphore`)
      kind: Rule
      services:
        - name: semaphore
          port: 3000
      middlewares:
        - name: skyforge-auth
    - match: PathPrefix(`/git`)
      kind: Rule
      services:
        - name: gitea
          port: 3000
      middlewares:
        - name: strip-git
    - match: Path(`/swagger/openapi.json`)
      kind: Rule
      priority: 200
      services:
        - name: skyforge-server
          port: 8085
    - match: PathPrefix(`/swagger`)
      kind: Rule
      services:
        - name: swagger-ui
          port: 8080
      middlewares:
        - name: strip-swagger
    - match: PathPrefix(`/code-shared`)
      kind: Rule
      services:
        - name: code-server-shared
          port: 8080
    - match: Path(`/code`) || PathPrefix(`/code/`)
      kind: Rule
      services:
        - name: code-server
          port: 8080
      middlewares:
        - name: skyforge-auth
    - match: PathPrefix(`/webhooks`)
      kind: Rule
      services:
        - name: webhooks
          port: 8080
      middlewares:
        - name: skyforge-auth
        - name: strip-webhooks
