apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: skyforge-auth
spec:
  forwardAuth:
    address: http://skyforge-server.skyforge.svc.cluster.local:8085/api/session/traefik
    trustForwardHeader: true
    authRequestHeaders:
      - Cookie
    authResponseHeaders:
      - X-Skyforge-Username
      - X-Skyforge-DisplayName
      - X-Skyforge-Email
      - X-Skyforge-Groups
      - X-Skyforge-First-Name
      - X-Skyforge-Last-Name
      - X-Forwarded-User
      - X-Forwarded-Email
      - X-Forwarded-First-Name
      - X-Forwarded-Last-Name
      - Remote-User
      - Remote-User-Email
      - Remote-User-First-Name
      - Remote-User-Last-Name
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-nautobot
spec:
  stripPrefix:
    prefixes:
      - /nautobot
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-git
spec:
  stripPrefix:
    prefixes:
      - /git
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-swagger
spec:
  stripPrefix:
    prefixes:
      - /swagger
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-coder
spec:
  stripPrefix:
    prefixes:
      - /coder

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: coder-basepath
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Prefix: /workspaces

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: coder-portal-redirect
spec:
  redirectRegex:
    regex: "^/coder(/.*)?$"
    replacement: "/workspaces$1"
    permanent: false
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: coder-root-redirect
spec:
  redirectRegex:
    regex: "^/(workspaces|templates|tasks)(/?.*)$"
    replacement: "/$1$2"
    permanent: false
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-dns
spec:
  stripPrefix:
    prefixes:
      - /dns
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-minio-console
spec:
  stripPrefix:
    prefixes:
      - /minio-console
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: replace-netbox-static
spec:
  replacePathRegex:
    regex: ^/netbox/static/(.*)
    replacement: /static/$1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: replace-netbox-media
spec:
  replacePathRegex:
    regex: ^/netbox/media/(.*)
    replacement: /media/$1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: replace-skyforge-server
spec:
  replacePathRegex:
    regex: ^/skyforge-server/(.*)
    replacement: /api/$1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: replace-skyforge-api
spec:
  replacePathRegex:
    regex: ^/api/skyforge/(.*)
    replacement: /$1
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: replace-files
spec:
  replacePathRegex:
    regex: ^/files/(.*)
    replacement: /skyforge-files/$1
