apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: gitea
  name: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: gitea
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.service: gitea
    spec:
      automountServiceAccountToken: false
      containers:
      - args:
        - 'set -e

          export SECRET_KEY="$(cat /run/secrets/gitea-secret-key)"

          export GITEA__database__PASSWD="$(cat /run/secrets/db-gitea-password)"

          exec /usr/bin/dumb-init -- /usr/local/bin/docker-entrypoint.sh

          '
        command:
        - /bin/sh
        - -c
        env:
        - name: GITEA_APP_INI
          value: /var/lib/gitea/custom/conf/app.ini
        - name: GITEA__database__DB_TYPE
          value: postgres
        - name: GITEA__database__HOST
          value: db:5432
        - name: GITEA__database__NAME
          value: gitea
        - name: GITEA__database__SSL_MODE
          value: disable
        - name: GITEA__database__USER
          value: gitea
        - name: GITEA__server__ENABLE_SSH
          value: 'true'
        - name: GITEA__server__HTTP_PORT
          value: '3000'
        - name: GITEA__server__ROOT_URL
          valueFrom:
            configMapKeyRef:
              key: GITEA_ROOT_URL
              name: skyforge-config
        - name: GITEA__server__SERVE_FROM_SUB_PATH
          value: 'false'
        - name: GITEA__server__SSH_DOMAIN
          valueFrom:
            configMapKeyRef:
              key: SKYFORGE_HOSTNAME
              name: skyforge-config
        - name: GITEA__server__SSH_LISTEN_PORT
          value: '22'
        - name: GITEA__server__SSH_PORT
          value: '22'
        - name: GITEA__server__START_SSH_SERVER
          value: 'false'
        - name: GITEA__service__DISABLE_REGISTRATION
          value: 'false'
        - name: GITEA__service__ALLOW_ONLY_EXTERNAL_REGISTRATION
          value: 'true'
        - name: GITEA__service__REQUIRE_SIGNIN_VIEW
          value: 'true'
        - name: GITEA__security__REVERSE_PROXY_AUTHENTICATION
          value: 'true'
        - name: GITEA__security__REVERSE_PROXY_AUTO_REGISTRATION
          value: 'true'
        - name: GITEA__security__REVERSE_PROXY_AUTHENTICATION_USER
          value: 'X-Skyforge-Username'
        - name: GITEA__security__REVERSE_PROXY_AUTHENTICATION_EMAIL
          value: 'X-Skyforge-Email'
        - name: GITEA__security__REVERSE_PROXY_LIMIT
          value: '1'
        - name: GITEA__security__REVERSE_PROXY_TRUSTED_PROXIES
          value: '0.0.0.0/0,::/0'
        - name: GITEA__service__RESERVED_USERNAMES
          value: ''
        - name: GITEA__user__RESERVED_USERNAMES
          value: ''
        - name: GITEA__user__RESTRICTED_USERNAMES
          value: ''
        - name: GITEA__migrations__ALLOW_LOCALNETWORKS
          value: 'true'
        - name: GITEA__migrations__ALLOWED_DOMAINS
          valueFrom:
            configMapKeyRef:
              name: skyforge-config
              key: GITEA_ALLOWED_DOMAINS
        - name: GITEA__migrations__SKIP_TLS_VERIFY
          value: 'true'
        - name: INSTALL_LOCK
          value: 'true'
        - name: USER_GID
          value: '1000'
        - name: USER_UID
          value: '1000'
        - name: SSL_CERT_FILE
          value: /etc/skyforge/ca/ca-certificates.crt
        image: gitea/gitea:1.22.3-rootless
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          failureThreshold: 6
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 2
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          failureThreshold: 3
          periodSeconds: 5
          timeoutSeconds: 2
        name: gitea
        ports:
        - containerPort: 3000
          protocol: TCP
        resources:
          limits:
            memory: '1073741824'
        volumeMounts:
        - mountPath: /run/secrets
          name: run-secrets
          readOnly: true
        - mountPath: /var/lib/gitea
          name: gitea-data
        - name: skyforge-ca-bundle
          mountPath: /etc/skyforge/ca
      restartPolicy: Always
      volumes:
      - name: run-secrets
        projected:
          sources:
          - secret:
              items:
              - key: db-gitea-password
                path: db-gitea-password
              name: db-gitea-password
          - secret:
              items:
              - key: gitea-secret-key
                path: gitea-secret-key
              name: gitea-secret-key
      - name: gitea-data
        persistentVolumeClaim:
          claimName: gitea-data
      - name: skyforge-ca-cert
        secret:
          secretName: skyforge-ca-cert
      - name: skyforge-ca-bundle
        emptyDir: {}
      initContainers:
      - name: skyforge-ca-bundle
        image: alpine:3.20
        command:
        - sh
        - -c
        - cat /etc/ssl/certs/ca-certificates.crt /etc/skyforge/skyforge-ca-cert > /work/ca-certificates.crt
        volumeMounts:
        - name: skyforge-ca-cert
          mountPath: /etc/skyforge
          readOnly: true
        - name: skyforge-ca-bundle
          mountPath: /work
