apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: redis
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: redis
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.service: redis
    spec:
      automountServiceAccountToken: false
      containers:
        - args:
            - redis-server
            - --save
            - "60"
            - "1"
          image: redis:7-alpine
          livenessProbe:
            tcpSocket:
              port: 6379
            failureThreshold: 6
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
          readinessProbe:
            tcpSocket:
              port: 6379
            failureThreshold: 3
            periodSeconds: 5
            timeoutSeconds: 2
          name: redis
          volumeMounts:
            - mountPath: /data
              name: redis-data
      restartPolicy: Always
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-data
