apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: swagger-ui
  name: swagger-ui
spec:
  replicas: 2
  selector:
    matchLabels:
      io.kompose.service: swagger-ui
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        io.kompose.service: swagger-ui
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            io.kompose.service: swagger-ui
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  io.kompose.service: swagger-ui
      automountServiceAccountToken: false
      containers:
      - name: swagger-ui
        image: swaggerapi/swagger-ui:v5.11.0
        imagePullPolicy: Always
        env:
        - name: SWAGGER_JSON_URL
          valueFrom:
            configMapKeyRef:
              name: skyforge-config
              key: SKYFORGE_SWAGGER_URL
        - name: SSL_CERT_FILE
          value: /etc/skyforge/ca/ca-certificates.crt
        ports:
        - containerPort: 8080
          protocol: TCP
        volumeMounts:
        - name: skyforge-ca-bundle
          mountPath: /etc/skyforge/ca
      volumes:
      - name: skyforge-ca-cert
        secret:
          secretName: skyforge-ca-cert
      - name: skyforge-ca-bundle
        emptyDir: {}
      initContainers:
      - name: skyforge-ca-bundle
        image: alpine:3.20
        command:
        - sh
        - -c
        - cat /etc/ssl/certs/ca-certificates.crt /etc/skyforge/skyforge-ca-cert > /work/ca-certificates.crt
        volumeMounts:
        - name: skyforge-ca-cert
          mountPath: /etc/skyforge
          readOnly: true
        - name: skyforge-ca-bundle
          mountPath: /work
