apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: swagger-ui
  name: swagger-ui
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    io.kompose.service: swagger-ui
